
/* --------------    parent container styles    ------------------- */

.imagerow {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .imagecolumn {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .imagecolumn img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  .image-content{
    width: 100%;
    height: fit-content;
  }
  .download-content{
      padding: 0px 20px 0px 20px;
  }
  .download-content a{
    text-decoration: none !important;
    color: black;
  }
  .download-content a:hover{
    text-decoration: none !important;
    color: navy;
  }

/* Mobile View */
@media (max-width: 767px) {
    .HeadContainer-imageview{
        margin: auto;
        height: fit-content;
    }
    .imagecolumn {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
    .gallery-header{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 10px 0px 10px 0px;
    }
    .gallery-header h1{
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        margin: 0;
    }
    .modalheader {
        width: 100%;
        height: fit-content;
    }
}



/* Tablet View */
@media (min-width: 768px) and (max-width: 1199px){
    .MainContainer-imageview{
        width: 100%;
        height: fit-content;
    }    
    .HeadContainer-imageview{
        margin: auto;
        height: fit-content;
    }  
    .imagecolumn {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
    .gallery-header{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 15px 0px 15px 0px;
    }
    .gallery-header h1{
        font-size: 32px;
        font-family: 'Montserrat', sans-serif;
        margin: 0;
    }
}

/* Desktop View */
@media (min-width: 1200px) {
    .HeadContainer-imageview{
        margin: auto;
        height: fit-content;
    }
    .gallery-header{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px 0px 20px 0px;
    }
    .gallery-header h1{
        font-size: 32px;
        font-family: 'Montserrat', sans-serif;
        margin: 0;
    }
    
    .modalheader h5{
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        color: navy;
    }
}

@media (min-width: 1367px) {
    .HeadContainer-imageview{
        margin: 0 auto;
        max-width: 1300px;
        height: fit-content;
    }
    
    
}

@media (min-width: 1729px) {
    .SubContainer-imageview{
        margin: 0 auto;
        max-width: 1728px;
        height: fit-content;
    }
}



















