
/* --------------    parent container styles    ------------------- */
.mainheader {
    /* min-height: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* min-height: fit-content; */
    min-width: fit-content;
    justify-content: center;
    overflow: hidden;
    --bs-gutter-x: 0px !important;
  }
  
  .bggradient1{
    background: linear-gradient(to right, #283048 0%, #c9dde4 100%);
  }
  .bggradient2{
    background: linear-gradient(to right, #BBD2C5 0%, #536976 100%);
  }
  .bggradient3{
    background: linear-gradient(to right, #283048 0%, #c9dde4 100%);
  }
  .card, .card-header, .card-body, .card-footer{
    border: none;
    border-radius:0px !important;
  }
  .cardone-image,
  .cardtwo-image,
  .cardthree-image{
    width: 100%;
    height: 100%; 
  }
  .cardone-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  .card-allborders{
    border-radius: 10px; 
  }
  .card-topborders{
    border-top-left-radius: 10px !important; 
    border-top-right-radius: 10px !important;
  }
  .card-bottomborders{
    border-bottom-left-radius: 10px !important; 
    border-bottom-right-radius: 10px !important;
  }
  .card-bottomonlyleftborder{
    border-bottom-left-radius: 10px !important;  
  }
  .card-bottomonlyrightborder{
    border-bottom-right-radius: 10px !important;
  }
  .card-toponlyleftborder{
    border-top-left-radius: 10px !important; 
  }
  .card-toponlyrightborder{
    border-top-right-radius: 10px !important;
  }
  
  .borderbox-bottom{
    height: fit-content;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .borderbox-top{
    height: fit-content;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .maincard-quotedesp-content{
    width: 100%;
    height: fit-content;
  }
  .maincard-quotedesp-content p{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    margin: 0;
  }
  
  .maincard-desp-content{
    width: 100%;
    height: fit-content;
  }
  .maincard-desp-content p{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    margin: 0;
  }
  .maincard-artdesp-content p{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    margin: 0;
  }
  /* .anchorbutton{
    display: inline-block;
    text-decoration: none !important;
    padding: 6px 20px;
    border-radius:4px;
  }
  .anchorbutton:hover{
    display: inline-block;
    text-decoration: none !important;
    animation: pulsate 2s ease-in-out;
  } */
  .buttonanchor {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
  }
  .buttonanchor:hover{
    animation: pulsate 2s ease-in-out;
  }

  @keyframes pulsate {
    0%{
      box-shadow:
      0 0 25px #000000,
      0 0 50px #db7093;
    }
  }

  /*-----------------   Carousel styles   --------------------  */

  .carousel-img{
      height: 400px;
      width: 100%;
      object-fit: cover;
  }
  .carousel-content h5{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    letter-spacing: 0px;
    opacity: 1;
  }
  .carousel-content p{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    opacity: 1;
  }


/* ------------------   custum slideshow  styles    ------------------ */
  .slideshow {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
  }
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  
  .slide {
    display: inline-block;
    height: 400px;
    object-fit: cover;
    width: 100%;
  }
  
  .slideshowDots {
    text-align: center;
  }
  
  .slideshowDot {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  
    cursor: pointer;
    margin: 10px 7px 0px;
  
    background-color: #c4c4c4;
  }
  
  .slideshowDot.active {
    background-color: #7d7b7e;
  }

  /* -----------------   Main content styles    -------- */
  .square {
    width: 200px;
    height: 200px;
    background: teal;
    border-radius: 8px;
    opacity: 0;
    transform: scale(1.2);
}

@media (prefers-reduced-motion: no-preference) {
  .square {
    transition: opacity 1.5s ease, transform 1.5s ease;
  }
}

.square-transition {
    opacity: 1;
    transform: none;
}

/* Mobile View */
@media (max-width: 767px) {
  .custom-gutters{
    --bs-gutter-x: 0px !important;
    --bs-gutter-y: 30px !important;
  }
  .maincontentContainer{
    margin: 0 24px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .paddingmarginContainer{
    margin: 30px 0px 0px 0px;
    padding: 40px 20px 40px 20px;
  }
  .marginContainer{
    margin: 40px 20px 40px 20px;
  }
  .paddingContainer{
    padding: 40px 20px 40px 20px;
  }
  .headertextContent{
    padding: 30px 10px 5px 10px;
  }
  .headertextContent h2{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
  }
  .singlecardtext-contentContainer{
    padding: 40px 30px 40px 30px;
  }
  .doublecardtext-contentContainer{
    padding: 10px 30px 30px 30px;
  }
  .cardtwo-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  .cardthree-image img{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    min-height: 100%;
  }
  .maincard-title-content{
    width: 100%;
    height: fit-content;
  }
  .maincard-title-content h3{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
  }
  .maincard-quotedesp-content{
    width: 100%;
    height: fit-content;
    padding: 8px 0px 8px 0px;
  }
  .maincard-desp-content{
    width: 100%;
    height: fit-content;
    padding: 8px 0px 8px 0px;
  }
  .maincard-artdesp-content{
    width: 100%;
    height: fit-content;
    padding: 8px 0px 8px 0px;
  }
  .maincard-button-content{
    width: 100%;
    height: fit-content;
    padding: 10px 0px 0px 0px;
  }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1199px){
  .custom-gutters{
    --bs-gutter-x: 30px !important;
    --bs-gutter-y: 0px !important;
  }
    .MainContainer{
        width: 100%;
        height: fit-content;
    }    
    .maincontentContainer{
      margin: 0 auto;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .paddingmarginContainer{
      margin: 30px 0px 0px 0px;
      padding: 40px 0px 40px 0px;
    }
    .marginContainer{
      margin: 40px 0px 40px 0px;
    }
    .paddingContainer{
      padding: 40px 0px 40px 0px;
    }
    .headertextContent{
      padding: 30px 0px 5px 0px;
    }
    .headertextContent h2{
      font-size: 26px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bolder;
      text-align: left;
      letter-spacing: 0px;
      opacity: 1;
    }
    .singlecardtext-contentContainer{
      padding: 40px;
    }
    .doublecardtext-contentContainer{
      padding: 10px 30px 30px 30px;
    }
    .cardtwo-image img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
    .cardthree-image img{
      object-fit: cover;
      width: 100%;
      max-height: 260px;
      min-height: 260px;
    }
    .maincard-title-content{
      width: 100%;
      height: fit-content;
    }
    .maincard-title-content h3{
      font-size: 26px;
      font-family: 'Montserrat', sans-serif;
      text-align: left;
      letter-spacing: 0px;
      opacity: 1;
    }
    .maincard-quotedesp-content{
      width: 100%;
      height: fit-content;
      padding: 6px 0px 6px 0px;
    }
    .maincard-desp-content{
      width: 100%;
      height: fit-content;
      padding: 6px 0px 6px 0px;
    }
    .maincard-artdesp-content{
      width: 100%;
      height: fit-content;
      padding: 6px 0px 6px 0px;
    }
    .maincard-button-content{
      width: 100%;
      height: fit-content;
      padding: 8px 0px 8px 0px;
    }
}

@media (min-width: 1000px) and (max-width: 1199px){
  .cardtwo-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  .cardthree-image img{
    object-fit: cover;
    width: 100%;
    max-height: 360px;
    min-height: 360px;
  }
}

/* Desktop View */
@media (min-width: 1200px) {
  .custom-gutters{
    --bs-gutter-x: 30px !important;
    --bs-gutter-y: 0px !important;
  }
    .HeadContainer{
      margin: 0 auto;
      max-width: 1280px;
      height: fit-content;
    }
    .maincontentContainer{
      margin: 0 auto;
      padding-top: 40px;
      padding-bottom: 40px;
      /* clip-path: polygon(36% 0, 100% 0, 100% 100%, 0 100%); */
    }
    .paddingmarginContainer{
      margin: 30px 0px 0px 0px;
      padding: 40px 0px 40px 0px;
    }
    .marginContainer{
      margin: 40px 0px 40px 0px;
    }
    .paddingContainer{
      padding: 40px 0px 40px 0px;
    }
    .headertextContent{
      padding: 30px 0px 10px 0px;
    }
    .headertextContent h2{
      font-size: 32px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bolder;
      text-align: left;
      letter-spacing: 0px;
      opacity: 1;
    }
    .singlecardtext-contentContainer{
      padding: 40px;
    }
    .doublecardtext-contentContainer{
      padding: 10px 30px 30px 30px;
    }
    .cardtwo-image img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
    .cardthree-image img{
      object-fit: cover;
      width: 100%;
      max-height: 460px;
      min-height: 460px;
    }
    .maincard-title-content{
      width: 100%;
      height: fit-content;
    }
    .maincard-title-content h3{
      font-size: 28px;
      font-family: 'Montserrat', sans-serif;
      text-align: left;
      letter-spacing: 0px;
      opacity: 1;
    }
    .maincard-quotedesp-content{
      width: 100%;
      height: fit-content;
      padding: 10px 0px 10px 0px;
    }
    .maincard-desp-content{
      width: 100%;
      height: fit-content;
      padding: 10px 0px 10px 0px;
    }
    .maincard-artdesp-content{
      width: 100%;
      height: fit-content;
      padding: 10px 0px 10px 0px;
    }
    .maincard-button-content{
      width: 100%;
      height: fit-content;
      padding: 12px 0px 12px 0px;
    }
}

@media (min-width: 1367px) {
    .HeadContainer{
        margin: 0 auto;
        background-color:rgb(223, 223, 223);
        max-width: 1300px;
        height: fit-content;
    }
    
}

@media (min-width: 1729px) {
    .SubContainer{
        margin: 0 auto;
        max-width: 1728px;
        height: fit-content;
    }
    .mainheader{
      --bs-gutter-x: 1rem !important;
    }
}



















