
/* --------------    parent container styles    ------------------- */

img {
  pointer-events: none;
}

.mainheader {
    min-width: fit-content;
    justify-content: center;
    overflow: hidden;
    --bs-gutter-x: 0px !important;
  }
  .boxshadowstyle{
    box-shadow: 0px 0px white,0px 0px white,0 0 10px 5px #fff,0 0 10px 5px #fff;
    /* box-shadow: 0 0 15px 0px #000; */
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
    /* box-shadow: 0 0 0px 0px white, 0 0px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8); */
  }
  .bggradient1{
    background: linear-gradient(to right, #283048 0%, #c9dde4 100%);
  }
  .bggradient2{
    background: linear-gradient(to right, #BBD2C5 0%, #536976 100%);
  }
  .bggradient3{
    background: linear-gradient(to right, #EFEFBB 0%, #D4D3DD 100%);
  }
  .bggradient4{
    background: linear-gradient(to right, #DAE2F8 0%, #D6A4A4 100%);
  }
  .bggradient5{
    background: linear-gradient(to right, #ED4264 0%, #FFEDBC 100%);
  }
  .bggradient6{
    background: linear-gradient(to right, #EAECC6 0%, #2BC0E4 100%);
  }
  .bggradient7{
    background: linear-gradient(to right, #4CB8C4 0%, #93F9B9 100%);
  }
  .card, .card-header, .card-body, .card-footer{
    border: none;
    border-radius:0px !important;
  }
  .cardone-image,
  .cardtwo-image,
  .cardthree-image{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  .cardone-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    transition: all .2s ease-in-out; 
  }
  .cardone-image:hover img{
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);
  }
  .cardtwo-image:hover img{
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);
  }
  .cardthree-image:hover img{
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);
  }
  .artnameoverlay{
    display: none;
  }
  .cardone-image:hover .arttextoverlay,
  .cardtwo-image:hover .arttextoverlay,
  .cardthree-image:hover .arttextoverlay{
    display: none;
  }
  .cardone-image:hover .artnameoverlay,
  .cardtwo-image:hover .artnameoverlay,
  .cardthree-image:hover .artnameoverlay{
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%;
    display: flex;
    justify-content: center;  
    align-items: center;
    height: 100%;
    color: white;
    backdrop-filter: blur(0px) brightness(40%);
  }
  .arttextoverlay{
    position: absolute; 
    left: 0; 
    width: 100%;
    display: flex;
    align-items: center;
    height: 15%;
    backdrop-filter: blur(1px) brightness(80%);
  }
  .arttextoverlay p{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0px;
    opacity: 1;
    margin: 0;
  }
  .card-allborders{
    border-radius: 10px; 
  }
  .card-topborders{
    border-top-left-radius: 10px !important; 
    border-top-right-radius: 10px !important;
  }
  .card-bottomborders{
    border-bottom-left-radius: 10px !important; 
    border-bottom-right-radius: 10px !important;
  }
  .card-bottomonlyleftborder{
    border-bottom-left-radius: 10px !important;  
  }
  .card-bottomonlyrightborder{
    border-bottom-right-radius: 10px !important;
  }
  .card-toponlyleftborder{
    border-top-left-radius: 10px !important; 
  }
  .card-toponlyrightborder{
    border-top-right-radius: 10px !important;
  }
  
  .borderbox-bottom{
    height: fit-content;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .borderbox-top{
    height: fit-content;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .maincard-quotedesp-content{
    width: 100%;
    height: fit-content;
  }
  .maincard-quotedesp-content p{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    margin: 0;
  }
  
  .maincard-desp-content{
    width: 100%;
    height: fit-content;
  }
  .maincard-desp-content p{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    margin: 0;
  }
  .maincard-artdesp-content p{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    margin: 0;
  }
  .buttonanchor {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
  }
  .buttonanchor:hover{
    animation: pulsate 2s ease-in-out;
  }

  @keyframes pulsate {
    0%{
      box-shadow:
      0 0 25px #000000,
      0 0 50px #db7093;
    }
  }

  /*-----------------   Carousel styles   --------------------  */

  .carousel-img{
      height: 400px;
      width: 100%;
      object-fit: cover;
  }
  .carousel-content h5{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    letter-spacing: 0px;
    opacity: 1;
  }
  .carousel-content p{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    opacity: 1;
  }



/* Mobile View */
@media (max-width: 767px) {
  .custom-gutters{
    --bs-gutter-x: 0px !important;
    --bs-gutter-y: 30px !important;
  }
  .cardreverse{
    flex-flow: column-reverse;
  }
  .maincontentContainer{
    margin: 0 24px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .paddingmarginContainer{
    margin: 30px 0px 0px 0px;
    padding: 40px 20px 40px 20px;
  }
  .marginContainer{
    margin: 40px 20px 40px 20px;
  }
  .paddingContainer{
    padding: 40px 20px 40px 20px;
  }
  .margintopContainer{
    margin-top: 20px;
  }
  .paddingtopContainer{
    padding-top: 20px;
  }
  .marginbottomContainer{
    margin-bottom: 20px;
  }
  .paddingbottomContainer{
    padding-bottom: 20px;
  }
  .marginleftContainer{
    margin-left: 20px;
  }
  .paddingleftContainer{
    padding-left: 20px;
  }
  .marginrightContainer{
    margin-right: 20px;
  }
  .paddingrightContainer{
    padding-right: 20px;
  }
  .headertextContent{
    padding: 30px 10px 10px 20px;
  }
  .headertextContent h2{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
  }
  .singlecardtext-contentContainer{
    padding: 20px 30px 10px 30px;
  }
  .singlewithoutcardtext-contentContainer{
    padding: 40px 0px 0px 10px;
  }
  .doublecardtext-contentContainer{
    padding: 20px 30px 30px 30px;
  }
  .thribblecardtext-contentContainer{
    padding: 20px 30px 30px 30px;
  }
  .cardtwo-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    transition: all .2s ease-in-out;
  }
  .cardthree-image img{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    min-height: 100%;
    transition: all .2s ease-in-out;
  }

  .maincard-title-content{
    width: 100%;
    height: fit-content;
  }
  .maincard-title-content h3{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
  }
  .maincard-quotedesp-content{
    width: 100%;
    height: fit-content;
    padding: 8px 0px 8px 0px;
  }
  .maincard-desp-content{
    width: 100%;
    height: fit-content;
    padding: 8px 0px 8px 0px;
  }
  .maincard-artdesp-content{
    width: 100%;
    height: fit-content;
    padding: 8px 0px 8px 0px;
  }
  .maincard-button-content{
    width: 100%;
    height: fit-content;
    padding: 10px 0px 10px 0px;
  }
}

@media (min-width: 500px) {
  .maincontentContainer{
    margin: 0 24px;
    padding-top: 40px;
    padding-bottom: 30px;
  }
}


/* Tablet View */
@media (min-width: 768px) and (max-width: 1199px){
  .custom-gutters{
    --bs-gutter-x: 30px !important;
    --bs-gutter-y: 0px !important;
  }
    .MainContainer{
        width: 100%;
        height: fit-content;
    }    
    .maincontentContainer{
      margin: 0 auto;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .paddingmarginContainer{
      margin: 30px 0px 0px 0px;
      padding: 40px 0px 40px 0px;
    }
    .marginContainer{
      margin: 40px 0px 40px 0px;
    }
    .paddingContainer{
      padding: 40px 0px 40px 0px;
    }
    .margintopContainer{
      margin-top: 20px;
    }
    .paddingtopContainer{
      padding-top: 20px;
    }
    .marginbottomContainer{
      margin-bottom: 20px;
    }
    .paddingbottomContainer{
      padding-bottom: 20px;
    }
    .marginleftContainer{
      margin-left: 20px;
    }
    .paddingleftContainer{
      padding-left: 20px;
    }
    .marginrightContainer{
      margin-right: 20px;
    }
    .paddingrightContainer{
      padding-right: 20px;
    }
    .headertextContent{
      padding: 30px 0px 5px 0px;
    }
    .headertextContent h2{
      font-size: 26px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bolder;
      text-align: left;
      letter-spacing: 0px;
      opacity: 1;
    }
    .singlecardtext-contentContainer{
      padding: 40px;
    }
    .singlewithoutcardtext-contentContainer{
      padding: 0px 30px 0px 30px;
    }
    .doublecardtext-contentContainer{
      padding: 20px 30px 30px 30px;
    }
    .thribblecardtext-contentContainer{
      padding: 30px 30px 30px 30px;
    }
    .cardtwo-image img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      transition: all .2s ease-in-out;
    }
    .cardthree-image img{
      object-fit: cover;
      width: 100%;
      max-height: 260px;
      min-height: 260px;
      transition: all .2s ease-in-out;
    }
    .maincard-title-content{
      width: 100%;
      height: fit-content;
    }
    .maincard-title-content h3{
      font-size: 26px;
      font-family: 'Montserrat', sans-serif;
      text-align: left;
      letter-spacing: 0px;
      opacity: 1;
    }
    .maincard-quotedesp-content{
      width: 100%;
      height: fit-content;
      padding: 6px 0px 6px 0px;
    }
    .maincard-desp-content{
      width: 100%;
      height: fit-content;
      padding: 6px 0px 6px 0px;
    }
    .maincard-artdesp-content{
      width: 100%;
      height: fit-content;
      padding: 6px 0px 6px 0px;
    }
    .maincard-button-content{
      width: 100%;
      height: fit-content;
      padding: 8px 0px 8px 0px;
    }
}

@media (min-width: 1000px) and (max-width: 1199px){
  .cardtwo-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    transition: all .2s ease-in-out;
  }
  .cardthree-image img{
    object-fit: cover;
    width: 100%;
    max-height: 360px;
    min-height: 360px;
    transition: all .2s ease-in-out;
  }
}

/* Desktop View */
@media (min-width: 1200px) {
  .custom-gutters{
    --bs-gutter-x: 45px !important;
    --bs-gutter-y: 0px !important;
  }
    .HeadContainer{
      margin: 0 auto;
      max-width: 1280px;
      height: fit-content;
    }
    .maincontentContainer{
      margin: 0 auto;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .paddingmarginContainer{
      margin: 30px 0px 0px 0px;
      padding: 40px 0px 40px 0px;
    }
    .marginContainer{
      margin: 40px 0px 40px 0px;
    }
    .paddingContainer{
      padding: 40px 0px 40px 0px;
    }
    .margintopContainer{
      margin-top: 20px;
    }
    .paddingtopContainer{
      padding-top: 20px;
    }
    .marginbottomContainer{
      margin-bottom: 20px;
    }
    .paddingbottomContainer{
      padding-bottom: 20px;
    }
    .marginleftContainer{
      margin-left: 20px;
    }
    .paddingleftContainer{
      padding-left: 20px;
    }
    .marginrightContainer{
      margin-right: 20px;
    }
    .paddingrightContainer{
      padding-right: 20px;
    }
    .headertextContent{
      padding: 30px 0px 10px 0px;
    }
    .marginimgdesktop{
      margin: 40px 0px 10px 0px;
    }
    .headertextContent h2{
      font-size: 32px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bolder;
      text-align: left;
      letter-spacing: 0px;
      opacity: 1;
    }
    .singlecardtext-contentContainer{
      padding: 40px;
    }
    .singlewithoutcardtext-contentContainer{
      padding: 0px 30px 0px 30px;
    }
    .doublecardtext-contentContainer{
      padding: 20px 30px 30px 30px;
    }
    .thribblecardtext-contentContainer{
      padding: 30px 30px 30px 30px;
    }
    .cardtwo-image img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      transition: all .2s ease-in-out;
    }
    .cardthree-image img{
      object-fit: cover;
      width: 100%;
      max-height: 460px;
      min-height: 460px;
      transition: all .2s ease-in-out;
    }
    .maincard-title-content{
      width: 100%;
      height: fit-content;
    }
    .maincard-title-content h3{
      font-size: 28px;
      font-family: 'Montserrat', sans-serif;
      text-align: left;
      letter-spacing: 0px;
      opacity: 1;
    }
    .maincard-quotedesp-content{
      width: 100%;
      height: fit-content;
      padding: 10px 0px 10px 0px;
    }
    .maincard-desp-content{
      width: 100%;
      height: fit-content;
      padding: 10px 0px 10px 0px;
    }
    .maincard-artdesp-content{
      width: 100%;
      height: fit-content;
      padding: 10px 0px 10px 0px;
    }
    .maincard-button-content{
      width: 100%;
      height: fit-content;
      padding: 12px 0px 12px 0px;
    }
}

@media (min-width: 1367px) {
    .HeadContainer{
        margin: 0 auto;
        max-width: 1300px;
        height: fit-content;
    }
    
}

@media (min-width: 1729px) {
    .SubContainer{
        margin: 0 auto;
        max-width: 1728px;
        height: fit-content;
    }
    .mainheader{
      --bs-gutter-x: 1rem !important;
    }
}



















